@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Lalezar';
    font-weight: 300;
    src: local(Lalezar), url(./fonts/Lalezar-Regular.ttf) format("truetype");
}

* {
    font-family: 'Lalezar';
    font-weight: 300;
}